
body { font-family: 'Montserrat', sans-serif; background-color: #ffffff;
}
input {
  position: absolute;
  z-index: 4;
  color: #ffffff;
  font-size: 30px;
  outline: none;
  border: none;
background-color: #0af;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  top: 45%;
  left: 43%;
  transition: 0.3s;
}
input:hover {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.12), 0 4px 4px 0 rgba(0,0,0,.24);
}
input:active {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
  background-color: #ffffff;
  color: #0af;
}
