body {
  height: 100vh;
  background-color: #FFFFFF;
  transition: 0.5s;
  overflow: hidden;
}

.wav,
.wav::before,
.wav::after {
  transition: 0.5s;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 39% 50%;
  opacity: 0.5;
  background-color: #0af;
  border-radius: 50% 50%;
  animation: spin 30s infinite linear;
  mix-blend-mode: multiply;
}


@keyframes spin {
  100% { transform: rotate(360deg); }
}
